/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* Estilos para el header */
header {
    background-color: rgba(0, 0, 0, 0); /* Fondo completamente transparente */
    padding: 5px;
    color: #000;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: transform 0.3s ease; /* Transición para suavizar el ocultamiento/mostrado */
}


nav {
    text-align: left; /* Alinea el contenido del nav a la izquierda */
}

nav ul {
    list-style: none;
    display: flex; /* Alinea los elementos de la lista en una línea */
}

nav ul li {
    margin-right: 20px; /* Espacio entre los enlaces */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Estilos para la hero section */
.hero {
    position: relative;
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    overflow: hidden; /* Evita el desbordamiento del contenido */
    color: #fff;
    text-align: center;
}

#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Asegura que el video cubra todo el fondo */
    filter: brightness(0.5); /* Opcional: Oscurece el video para mejorar la legibilidad del texto */
    pointer-events: none; /* Opcional: Evita que el video interfiera con los clics */
}

section {
    position: relative;
    z-index: 2;
    background-color: #fff; /* Asegura que las secciones tapen el video */
}

.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra el contenido vertical y horizontalmente */
    text-align: center;
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0); /* Fondo completamente transparente */
    border-radius: 10px; /* Agrega bordes redondeados para el contenedor */
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #f0b700;
    color: #333;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px; /* Espacio alrededor del botón */
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Añade transición suave para el zoom y el cambio de color */
}

.cta-button:hover {
    background-color: #0096c7;
    transform: scale(1.05); /* Aplica el efecto de zoom */
}


/* Estilos para la sección "About" */
#about {
    position: relative;
    padding: 50px;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Color del texto */
    text-align: center; /* Centra el texto del título */
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Oculta elementos fuera de la vista */
}

.carousel-btn {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%; /* Botones redondeados */
    z-index: 2; /* Asegura que los botones están sobre las imágenes */
    transition: background-color 0.3s; /* Transición al pasar el ratón */
}

.carousel-btn:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Color más oscuro al pasar el ratón */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease; /* Transición suave al cambiar de imagen */
}

.carousel-item {
    min-width: 100%; /* Cada imagen ocupa el 100% del contenedor */
    text-align: center; /* Centra el texto */
}

.carousel-icon {
    width: 1000px; /* Ajusta el ancho de las imágenes del carrusel */
    height: 700px; /* Ajusta la altura de las imágenes del carrusel */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el área asignada */
    border-radius: 10px; /* Bordes redondeados */
}


.thumbnail-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio superior para separación */
    gap: 10px; /* Espacio entre las miniaturas */
}

.thumbnail {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border: 2px solid transparent; /* Borde por defecto */
    transition: border-color 0.3s; /* Transición suave del borde */
}

.thumbnail:hover {
    border-color: #007bff; /* Color del borde al pasar el ratón */
}

.thumbnail-img {
    max-width: 80px; /* Ajusta el tamaño de las miniaturas */
    border-radius: 5px; /* Bordes redondeados */
}


#about2 {
    position: relative;
    padding: 50px;
    background-color: #ffffff; /* Fondo blanco */
    color: #000000; /* Color del texto */
    text-align: center; /* Centra el texto del título */
}

.carousel2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden; /* Oculta elementos fuera de la vista */
}

.carousel-btn2 {
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%; /* Botones redondeados */
    z-index: 2; /* Asegura que los botones están sobre las imágenes */
    transition: background-color 0.3s; /* Transición al pasar el ratón */
}

.carousel-btn2:hover {
    background-color: rgba(0, 0, 0, 0.8); /* Color más oscuro al pasar el ratón */
}

.carousel-images2 {
    display: flex;
    transition: transform 0.5s ease; /* Transición suave al cambiar de imagen */
}

.carousel-item2 {
    min-width: 100%; /* Cada imagen ocupa el 100% del contenedor */
    text-align: center; /* Centra el texto */
}

.carousel-icon2 {
    width: 1000px; /* Ajusta el ancho de las imágenes del carrusel */
    height: 700px; /* Ajusta la altura de las imágenes del carrusel */
    object-fit: cover; /* Mantiene la relación de aspecto y cubre el área asignada */
    border-radius: 10px; /* Bordes redondeados */
}

.thumbnail-container2 {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio superior para separación */
    gap: 10px; /* Espacio entre las miniaturas */
}

.thumbnail2 {
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    border: 2px solid transparent; /* Borde por defecto */
    transition: border-color 0.3s; /* Transición suave del borde */
}

.thumbnail2:hover {
    border-color: #007bff; /* Color del borde al pasar el ratón */
}

.thumbnail-img2 {
    max-width: 80px; /* Ajusta el tamaño de las miniaturas */
    border-radius: 5px; /* Bordes redondeados */
}


#about-me {
    padding: 130px 80px; /* Aumenta el padding superior e inferior según necesites */
    background-image: url('yo.webp'); /* Agrega la imagen de fondo */
    background-size: cover; /* La imagen cubrirá toda la sección */
    background-position: center;
    position: relative; /* Permite usar un overlay */
    color: #f9f9f9; /* Color del texto claro */
    text-align: center;
}

#about-me::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Degradado oscuro sobre la imagen */
    z-index: 1; /* Capa por encima de la imagen */
}

#about-me h2, #about-me p, #about-me .cta-button {
    position: relative;
    z-index: 2; /* Asegura que el texto esté por encima del overlay */
    margin-bottom: 20px; /* Puedes ajustar este margen según necesites */
}

#about-me h2 {
    font-size: 2.5em;
}

#about-me p {
    font-size: 1.2em;
    line-height: 1.6;
}

#about-me .cta-button {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px;
    background-color: #f7c600; /* Color amarillo para el botón */
    color: #333; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#about-me .cta-button i {
    margin-right: 8px;
    font-size: 1.5em;
}

#about-me .cta-button:hover {
    background-color: #f0b700; /* Amarillo más oscuro al pasar el cursor */
    transform: scale(1.05);
}

/* El about-me de abajo */

#about-me2 {
    padding: 130px 80px; /* Espaciado superior e inferior */
    background-image: url('yo.webp'); /* Imagen de fondo */
    background-size: cover; /* Cubrir toda la sección */
    background-position: center;
    position: relative; /* Permite overlay */
    color: #f9f9f9; /* Color del texto claro */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#about-me2::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Overlay oscuro */
    z-index: 1; /* Capa sobre la imagen */
}

#about-me2 h2, 
#about-me2 p {
    position: relative;
    z-index: 2; /* Texto sobre overlay */
    margin-bottom: 20px; /* Espaciado entre elementos */
}

#about-me2 h2 {
    font-size: 2.5em; /* Tamaño de los encabezados */
    margin: 15px 0; /* Margen adicional para separación */
    font-weight: bold; /* Negrita para resaltar */
}

#about-me2 p {
    font-size: 1.2em; /* Tamaño del texto */
    line-height: 1.6; /* Altura de línea para legibilidad */
    max-width: 800px; /* Limitar ancho de párrafos */
}

.button {
    display: inline-flex;
    align-items: center;
    padding: 15px 30px; /* Espaciado del botón */
    background-color: #f7c600; /* Color amarillo */
    color: #333; /* Color del texto */
    border: none;
    border-radius: 5px; /* Bordes redondeados */
    text-decoration: none; /* Sin subrayado */
    font-size: 1em; /* Tamaño de la fuente */
    transition: background-color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
    cursor: pointer; /* Cambia el cursor al pasar */
}

.button:hover {
    background-color: #e6b800; /* Color del botón al pasar el ratón */
    transform: translateY(-3px); /* Sutil efecto al pasar el ratón */
}

/* Estilos para la sección "Projects" */

#projects {
    padding: 50px;
    background-color: #ffffff; /* Fondo oscuro para la sección */
}

#projects h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: #000000; /* Color del texto del título claro */
}

.projects-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    color: #000000; /* Color del texto del título claro */
}

.project-item {
    text-align: center;
    background-color: #ffffff; /* Fondo oscuro para los elementos del proyecto */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    width: 30%;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Aumenta la sombra para destacar el efecto de zoom */
}

.lightbox {
    display: none; /* Ocultado por defecto */
    position: fixed; /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
    justify-content: center; /* Centrado horizontalmente */
    align-items: center; /* Centrado verticalmente */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.lightbox-content {
    max-width: 90%; /* Tamaño máximo de la imagen */
    max-height: 90%; /* Tamaño máximo de la imagen */
}


#projects2 {
    padding: 50px;
    background-color: #ffffff; /* Fondo claro para la sección */
}

#projects2 h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
    text-align: center;
    color: #000000; /* Color del texto del título oscuro */
}

.projects2-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.project2-item {
    text-align: center;
    background-color: #ffffff; /* Fondo claro para los elementos del proyecto */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
    width: 30%;
    padding: 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.project2-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.project2-item:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.5); /* Aumenta la sombra para destacar el efecto de zoom */
}

.lightbox2 {
    display: none; /* Oculto por defecto */
    position: fixed;
    z-index: 9999; /* Asegúrate de que esté por encima de otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
}

.lightbox-content2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centrar la imagen */
    max-width: 90%; /* Ancho máximo de la imagen */
    max-height: 90%; /* Altura máxima de la imagen */
}







.close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}





/* Estilos para las secciones */
section {
    padding: 50px;
    background-color: #fff;
}

section h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.profile-img {
    max-width: 200px;
    border-radius: 50%;
    margin-top: 20px;
    filter: sepia(20%) blur(2px);
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre los elementos de servicio */
    justify-content: center; /* Centra los elementos de servicio horizontalmente */
}

.service-item {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    width: 30%;
}

.service-icon {
    max-width: 80px; /* Tamaño fijo para los íconos de servicio */
}




/* Estilos para el formulario de contacto */
#contact {
    padding: 50px;
    background-color: #f5f5f5; /* Fondo más claro para la sección */
    color: #333; /* Color del texto más oscuro */
    text-align: center;
}

#contact-form {
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para el formulario */
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Sombra más suave */
}

#contact-form h3 {
    margin-bottom: 20px;
    font-size: 1.8em;
    color: #222; /* Color más oscuro para el encabezado */
}

#contact-form label {
    font-size: 1.2em;
    margin-bottom: 10px;
    display: block;
    color: #444; /* Color más oscuro para las etiquetas */
}

#contact-form input,
#contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Borde gris más suave */
    border-radius: 5px;
    font-size: 1em;
    background-color: #f9f9f9; /* Fondo gris claro para los campos */
    color: #222; /* Color oscuro para el texto en los campos */
    transition: border 0.3s ease-in-out; /* Transición suave al enfocar */
}

#contact-form input:focus,
#contact-form textarea:focus {
    border-color: #98d0cf; /* Color del borde al enfocar */
}

#contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #98d0cf; /* Color del botón */
    color: #222; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

#contact-form button:hover {
    background-color: #8ef27c; /* Color más oscuro al pasar el cursor */
    transform: scale(1.05);
}

#additional-contact-info {
    margin-top: 40px;
    padding: 20px;
    background-color: #ffffff; /* Fondo blanco para la información adicional */
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra más suave */
    text-align: left;
}

#additional-contact-info h4 {
    margin-bottom: 15px;
    color: #222; /* Color más oscuro para el encabezado */
    font-size: 1.6em;
}

#additional-contact-info a {
    color: #007bff; /* Color del enlace */
    text-decoration: none; /* Sin subrayado */
}

#additional-contact-info a:hover {
    text-decoration: underline; /* Subrayar el enlace al pasar el cursor */
}

#additional-contact-info p {
    margin-bottom: 10px;
    font-size: 1em; /* Tamaño de fuente para el texto */
    color: #555; /* Color del texto oscuro */
}




/* Estilos para el footer */
footer {
    position: relative;
    background-color: #282828;
    color: #fff;
    padding: 20px 0; /* Ajusta el padding superior e inferior */
    overflow: hidden; /* Asegúrate de que el efecto no se desborde */
}

/* Asegúrate de que el texto esté encima del efecto */
footer .container {
    position: relative;
    z-index: 2;
}

/* Estilos para el contenedor de las olas */
.wave-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 120px; /* Ajusta la altura de la ola */
    overflow: hidden;
    z-index: 1; /* Asegúrate de que el efecto esté detrás del contenido */
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}


/* Efecto de olas */
.wave {
    position: absolute;
    left: 50%;
    width: 200%;
    height: 100px; /* Ajusta la altura de la ola */
    background: linear-gradient(to right, rgba(88, 182, 181, 0.893) 0%, rgba(78, 158, 161, 0.938) 50%, rgb(42, 146, 140) 100%);
    border-radius: 50%;
    transform: translateX(-50%);
    animation: wave 10s linear infinite;
}

.wave.wave2 {
    height: 150px; /* Mayor altura para olas más pronunciadas */
    background: linear-gradient(to right, rgba(22, 165, 173, 0.982) 0%,rgba(37, 180, 180, 0.776)) 50%, rgba(255, 226, 59, 0.2) 100%;
    animation: wave 15s linear infinite;
}

@keyframes wave {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    50% {
        transform: translateX(-50%) translateY(20px); /* Mayor desplazamiento vertical para olas más pronunciadas */
    }
    100% {
        transform: translateX(-50%) translateY(0);
    }
}

/* Estilos para alinear el texto y los íconos */
footer .row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Asegúrate de que los elementos estén distribuidos correctamente */
    position: relative;
    z-index: 2;
    text-align: center; /* Centra el texto dentro de cada columna */
}

footer .col-4 {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el contenido dentro de cada columna */
}

footer .text-start {
    text-align: left;
    flex: 1; /* Ocupa el espacio disponible a la izquierda */
    padding-left: 20px; /* Espacio adicional a la izquierda */
}

footer .text-end {
    text-align: right;
    flex: 1; /* Ocupa el espacio disponible a la derecha */
    padding-right: 20px; /* Espacio adicional a la derecha */
}

footer .text-center {
    text-align: center;
    flex: 1; /* Ocupa el espacio central */
}

footer .text-center i {
    margin: 0 10px; /* Espacio entre los íconos */
}

/* Opcional: Estilos para los íconos en el footer */
footer i {
    font-size: 1.5em;
    color: #fff; /* Color blanco para los íconos */
}

/* Versión para móviles */

/* Media Queries para pantallas pequeñas (smartphones) */
@media (max-width: 768px) {
    /* Ajustes para la sección de la hero */
        /* Ajustes para los elementos de navegación */
        nav ul {
            display: flex; /* Usar flexbox para que se alineen en una fila */
            padding: 0; /* Eliminar padding por defecto */
            margin: 0; /* Eliminar margen por defecto */
        }
    
        nav ul li {
            margin: 5px 15; /* Espaciado entre los elementos de la lista */
        }
    
        nav ul li a {
            font-size: 0.8rem; /* Ajustar el tamaño de la fuente */
            text-decoration: none; /* Eliminar subrayado */
            color: white; /* Cambiar el color de texto para mejor contraste (ajustar según tu esquema de color) */
        }
    
        nav ul li a:hover {
            text-decoration: underline; /* Añadir subrayado en hover para mejorar la interacción */
        }
        
        .hero-content h1 {
            font-size: 2rem; /* Tamaño de fuente para h1 */
        }
    
        .hero-content h2 {
            font-size: 1rem; /* Tamaño de fuente para h2 */
        }
    
        .hero-content p, .hero-content .cta-button {
            font-size: 1rem; /* Tamaño de fuente para párrafo y botón */
        }
    

    /* Ajustes para el carrusel */
    .carousel-images {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .carousel-item {
        min-width: 100%;
        scroll-snap-align: start;
    }

    .carousel-icon {
        width: 100%;
        height: auto;
    }

    .carousel-btn {
        display: none; /* Ocultar botones de navegación en móviles para facilitar el uso táctil */
    }

    /* Miniaturas del carrusel */
    .thumbnail-container {
        display: flex;
        overflow-x: auto;
        justify-content: center;
    }

    .thumbnail-img {
        width: 50px;
        height: 50px;
    }

    /* Ajustes para la segunda galería */
    .carousel2-images {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
    }

    .carousel-item2 {
        min-width: 100%;
        scroll-snap-align: start;
    }

    .carousel-icon2 {
        width: 100%;
        height: auto;
    }

    .carousel-btn2 {
        display: none; /* Ocultar botones de navegación en móviles */
    }

    .thumbnail-container2 {
        display: flex;
        overflow-x: auto;
        justify-content: center;
    }

    .thumbnail-img2 {
        width: 50px;
        height: 50px;
    }

    /* Ajustes para el formulario de contacto */
    #contact-form input, #contact-form textarea, #contact-form button {
        width: 100%;
    }

    /* Ajustes del footer */
    footer .col-4 {
        width: 100%;
        text-align: center;
    }

    .wave-container {
        display: none; /* Ocultar el efecto de olas en pantallas pequeñas para mejorar el rendimiento */
    }
    
    #projects,
    #projects2 {
        display: none;
    }
}
